{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint-config-imweb", "prettier", "prettier/@typescript-eslint"],
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": "off"
  }
}
